.slider{
    overflow:hidden;
    position:relative;
}
.chevron-gauche{
    position:absolute;
    width:20px;
    height:30px;
    top: 50%;
    left: 5%;
    transform: translate(0%, -50%);
    z-index:999;
}
.chevron-droite{
    position:absolute;
    width:20px;
    height:30px;
    top: 50%;
    right: 5%;
    transform: translate(0%, -50%);
    z-index:999;
}
.slider-container-img {
    display: flex;
    height: 300px;
    transition: transform .5s ease;
}
.slider-container-img img{
    width: 100%;
    flex-shrink: 0;
    object-fit: cover;
    border-radius: 15px;
}
@media (min-width: 426px) {
    .slider-container-img{
        height: 500px;
    }
}