header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
header img{
    width: 150px;
}
nav{
    display: flex;
    gap: 10px;
}
nav p{
    font: 1.25rem/1.5rem 'Montserrat', sans-serif; 
    color: rgba(255, 96, 96, 1);
    text-transform: uppercase;
}
nav a{
    text-decoration: none;
}