main img{
    width: 100%
}
.banner{
    position: relative;
}
.banner div{
    height: 150px;
    overflow: hidden;
    border-radius: 15px;
}
.banner div img{
    width: 1200px;
    object-fit: cover;
    object-position: -355px -780px;
    filter: brightness(0.7);
}
.banner p{
    margin: 0;
    width: 65%;
    position: absolute;
    top: 50%;
    transform: translate(20px, -50%);
    color: white;
    font: 2rem/2rem 'Montserrat', sans-serif;
}