main{
    margin: 0 10px;
}
@media (min-width: 600px) {
    .cards{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 11px;
    }
}
@media (min-width: 769px) {
    .cards{
        gap: 14px;
    }
}
@media (min-width: 1301px) {
    main{
        margin: 0 auto;
        max-width: 1200px;
    }
    .cards{
        gap: 31px;
        margin-bottom: 4rem;
        background-color: #F7F7F7;
        padding: 35px;
        border-radius: 25px;
    }
}