main img{
    width: 100%
}
.banner{
    position: relative;
    margin-bottom: 1rem;
}
.banner div{
    height: 150px;
    overflow: hidden;
    border-radius: 15px;
}
.banner div img{
    width: 1200px;
    object-fit: cover;
    object-position: -355px -780px;
    filter: brightness(0.7);
}
.banner p{
    margin: 0;
    width: 65%;
    position: absolute;
    top: 50%;
    transform: translate(20px, -50%);
    color: white;
    font: 2rem/2rem 'Montserrat', sans-serif;
}
@media (min-width: 426px) {
    .banner {
        text-align: center;
    }
    .banner p{
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .banner div img{
        object-position: 0 -730px;
        width:100%
    }
}
@media (min-width: 1301px) {
    .banner {
        margin-bottom: 3rem;
    }
}