.about-banner{
    position: relative;
}
.about-banner div{
    height: 250px;
    overflow: hidden;
    border-radius: 15px;
}
.about-banner div img{
    filter: brightness(0.7);
    height: 100%;
    object-fit: cover;
    object-position: -480px 0;
}
@media (min-width: 600px) {
    .about-banner div img{
        width: 100%;
        object-position: 0 0;
    }
}
@media (min-width: 769px) {
    .about-banner {
        margin-bottom: 4rem;
    }
}